body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: white;
} /*De margins zijn voor het menu zodat het tegen de rand aanzit. De background color is voor de achtergrondkleur*/

.menu ul {
  list-style-type: none;
  margin-top: 0px; /*Zodat het menu naar boven zit*/
  overflow: hidden; /*Als er teveel tekst is dat je dan niet kan scrollen*/
  background-color: #333333; 
}

.menu ul li {
  float: left; /*Waar de list items zijn gepositioneerd*/
}

.menu ul li a {
  display: block; /*Welke vorm de display heeft.*/
  color: white; /*Kleur van de tekst*/
  text-align: center; /*Positie van de tekst in de block*/
  padding: 14px 16px; /*Ruimte van de tekst ten opzichte van de omgeving*/
  text-decoration: none; /*Decoratie voor de tekst in de doosjes*/
}

.menu ul li a:hover {
  background-color: #FFFFFF;
  color: black;
  transition: 1s; /*Transitieduur*/
}

h1.titel {
  margin-left: 10px;
}

p.paragraaf {
  margin: 15px;
}

p.tekst {
  margin: 10px;
}

p.ondertitel {
  margin: 20px;
  padding-top: 0%;
}

p.disclaimer {
  background-color: rgb(255, 253, 108);
  border: 2px solid black; /*Kleur, dikte en type van de border van de doos*/
  border-radius: 10px; /*Hoeveel ronding heeft de doos*/
  width: 50%; /*Breedte berekend met de percentage van het scherm*/
  padding: 5px;
  margin-left: 10px
}

p.intro {
  margin: 10px;
  color: #FFFFFF;
  background-color: #333333;
  padding: 2px;
}

img {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
}

img.myck {
  float: left;
  margin-left: 10px;
  margin-right: 15px;
}

img.ascii {
  float: left;
  margin-left: 10px;
  margin-right: 15px;
}

button.knop {
  margin-left: 10px;
  margin-top: 1%; /*Margin berekent met het percentage van het scherm van het apparaat*/
}

iframe.spel {
  float: left;
  margin-left: 10px;
}

footer {
  position: fixed; /*Vaste positie van het object tijdens het scrollen*/
  bottom: 0;
  background-color: beige;
  text-align: center;
  padding: 10px;
  width: 100%;
} /*Voettekst op de website*/

table, th, td {
  border: 1px solid black;
  width: 40% 
} /*Tabel met een vaste border van 1 pixel breed in de kleur zwart*/