body {
  background-color: white;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-image: url("afbeeldingen/buurman&buurman.png");
}

.menu ul {
  list-style-type: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
  background-color: #333333;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu ul li a:hover {
  background-color: #FFFFFF;
  color: black;
}


h1.titel {
  margin-left: 10px;
}

p.paragraaf {
  margin: 15px;
}

p.tekst {
  margin: 10px;
}

p.ondertitel {
  margin: 10px;
  padding-top: 0%;
}

p.disclaimer {
  background-color: rgb(255, 253, 108);
  border: 2px solid black;
  border-radius: 10px;
  width: 50%;
  padding: 5px;
  margin-left: 10px
}

img {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
}

img.myck {
  float: left;
  margin-left: 10px;
  margin-right: 15px;
}

button.knop {
  margin-left: 10px;
  margin-top: 1%;
}