ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #FFFFFF;
  color: black;
}

body {
  background-color: white;
}

h1 {
  color: black;
  text-align: left;
}

p {
  background-color: black;
  margin: 10px;
  color: bisque;
  border: gray;
  width: 50%;
  text-align: center;
}